@model WebApplUserRegandLogin.Models.ImageModel

<div class="image-tabs">
    <div class="active-tab">
        @Html.ActionLink("Upload Image", "AddImage")
    </div>
    <div>
        @Html.ActionLink("Gallery", "ShowAllImage")
    </div>
</div>

@using (Html.BeginForm("AddImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h4>Image Upload</h4>
            @*<div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>*@
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="ImageFile" required />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-info" />
                </div>
            </div>


            <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <label class="label-success">@ViewBag.SuccessMessage</label>
                    </div>
                </div>

            @*<div class="alert alert-warning">
                    @ViewBag.DuplicateMessage
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <label class="label-warning">@ViewBag.DuplicateMessage</label>
                </div>
            </div>
        </div>
    </div>
}

<style>
    body {
        background: #ededeb;
        margin-top: 20px;
    }
    .image-tabs {
        display: flex;
    }
    .image-tabs a {
        background: #ccc;
        padding: 10px 30px;
        margin-right:2px;
        border-radius: 8px 8px 0 0;
        font-size: 16px;
    }

        .image-tabs .active-tab a, .image-tabs a:hover {
            background: #0460db;
            text-decoration:none;
            color: #fff;
        }
    form {
        background: #FFF;
        margin: 6px 0 0;
        border: 1px solid #ccc;
        box-shadow: 0 0 20px rgb(48 48 48 / 20%);
    }
    .form-horizontal h4 {
        margin-top:30px;
    }
</style>
